



      

            <div class="modal-header">
                <h5 class="modal-title">Pick Tenant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="kt-form">

                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <input id="FilterText" name="filterText" autoFocus
                                           class="form-control m-input"
                                           type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-info"
                                                type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="row align-items-center table-responsive">
                    <table id="LovTable" class="table table-striped table-bordered table-hover"></table>
                </div>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>




