<script src="~/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><span><img src="~/Content/assets/media/med360/doctor.png" class="mr-3" style="width: 30px;"></span>Create Consultant</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>ID</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>First Name</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text">

        </div>
    </div>
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Title</label>
        </div>
        <div class="col-md-4">

            <select class="form-control">
                <option>Choose One</option>
                <option>Mr.</option>
                <option>Mrs.</option>

            </select>
        </div>
        <div class="col-md-2">
            <label>Middle Name</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text">

        </div>
    </div>
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Date of birth</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="date" value="" id="example-datetime-local-input">

        </div>
        <div class="col-md-2">
            <label>Last Name</label>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="text">

        </div>
    </div>
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Speciality</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>Suffix</label>
        </div>
        <div class="col-md-4">

            <select class="form-control">
                <option>Choose One</option>
                <option>Sr.</option>
                <option>Jr.</option>
                <option>III</option>
                <option>IV</option>
                <option>V</option>

            </select>
        </div>
    </div>
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Subspeciality</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>Clinic Name</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
    </div>
    
    <div class="form-group form-group-sm form-group form-group-sm-sm row">
        <div class="col-md-2">
            <label>Clinic Address</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>Email Address</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="email">

        </div>
    </div>
   
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Clinic ContactNo</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>Education</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
    </div>
   
    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Experience</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="text">

        </div>
        <div class="col-md-2">
            <label>Regular Time</label>
        </div>
        <div class="col-md-4">

            <input class="form-control" type="time">

        </div>
    </div>

    <div class="form-group form-group-sm row">
        <div class="col-md-2">
            <label>Status</label>
        </div>
        <div class="col-md-4">

            <select class="form-control">
                <option>Choose One</option>
                <option>Available</option>
                <option>Non Available</option>

            </select>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
    <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>
</div>
