

<script src="~/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"><span><img style="width:30px;" class="mr-3" src="~/Content/assets/media/med360/profile.png"></span>Create Linked Profile</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="form-group row">

        <label for="MrNo" class="col-md-2">Mr No</label>
        <div class="col-md-2">
            <input type="text" id="MrNo" class="form-control form-control-sm" />
        </div>



        <label for="PatientName" class="col-md-2">Patient Name</label>
        <div class="col-md-6">
            <input type="text" id="PatientName" class="form-control form-control-sm" />
        </div>


    </div>

    <div class="form-group row">

        <label for="CNIC" class="col-md-2">CNIC/SSN</label>
        <div class="col-md-10">
            <input type="text" id="CNIC" class="form-control form-control-sm" />
        </div>

    </div>
    <div class="form-group row">
        <label for="ClinicName" class="col-md-2">Clinic Name</label>
        <div class="col-md-2">
            <select type="text" id="ClinicName" class="form-control form-control-sm">
                <option value="1">Genesis</option>
                <option value="2">Doctor Hospital</option>
            </select>
        </div>
        <label for="Relation" class="col-md-2">Relation</label>
        <div class="col-md-2">
            <select type="text" id="Relation" class="form-control form-control-sm">
                <option value="1">Brother</option>
                <option value="2">Father</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-info">Save changes</button>
</div>
