
<script src="~/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="assets/js/scripts.bundle.js" type="text/javascript"></script>

<!-- Modal -->
<style>

    .file {
        visibility: hidden;
        position: absolute;
    }
</style>
<div class="modal-header">
    <h4 class="kt-subheader__title"><span><i class="fa fa-map fa-1x"></i></span>&nbsp;<b>City</b></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">



    <div class="tab-content">
        <div class="form-group row">
            <div class="col-md-4">
                <label>State Name</label>
                <select type="text" class="form-control form-control-sm">
                    <option value="1">Punjab</option>
                    <option value="2">Califonia</option>
                </select>

            </div>
            <div class="col-md-8">
                <label>city Name</label>
                <input type="text" class="form-control">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label class="">Short Code</label>
                <input type="text" class="form-control">

            </div>
            <div class="col-md-8">
                <label>Description</label>
                <input type="text" class="form-control">

            </div>

        </div>












    </div>



</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
    <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>
</div>
