


<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="form-group row">
        <div class="col-md-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <b>Add Follow Up Visit</b>

                        </h3>
                    </div>
                </div>




                <!--begin::Form-->
                <form class="kt-form">
                    <div class="kt-portlet__body  ">
                        <div class="form-group row">
                            <button type="submit" class="btn btn-success">Set Appointment +</button>
                        </div>
                            <div class="form-group row">
                                <div class="form-group col-md-4">
                                    <label>Select Intervel Type</label>

                                    <select class="form-control" id="exampleSelect1">
                                        <option></option>
                                        <option>Month</option>
                                        <option>Day</option>
                                        <option>Week</option>

                                    </select>
                                </div>
                                
                          

                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="exampleSelect2">Set Interval Months:</label>
                                    <input class="form-control" type="number" value="" id="example-number-input" placeholder="Month">
                                </div>
                                <div class="col-md-1">

                                    <label for="exampleSelect2">Weeks:</label>
                                    <input class="form-control" type="number" value="" id="example-number-input" placeholder="Weeks">

                                </div>
                                <div class="col-md-1">

                                    <label for="exampleSelect2">Days:</label>
                                    <input class="form-control" type="number" value="" id="example-number-input" placeholder="Days">

                                </div>


                            </div>

                            <div class="form-group row">

                                <div class="form-group form-group-last col-md-4">
                                    <label for="exampleTextarea">Instructions</label>
                                    <textarea class="form-control" id="exampleTextarea" form-group rows="2"></textarea>
                                </div>

                              
                            </div>


                            <div class="form-group row">
                                <div class="form-group form-group-last col-md-4">
                                    <label for="exampleTextarea">All Appointments</label>
                                    <textarea class="form-control" id="exampleTextarea" form-group rows="4"></textarea>
                                </div>
                            </div>


                            <div class="kt-form__actions">
                                <div class="form-group row">
                                    @*<div class="col-md-3">
                                    </div>*@
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-success">Add</button>
                                        <button type="reset" class="btn btn-danger">Clear</button>
                                    </div>
                                </div>
                            </div>

                        </div>
</form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>

    </div>
</div>



