


<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="form-group form-group row">
        <div class="col-md-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <b>Add Lab Order </b>

                        </h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="kt-form">
                    <div class="kt-portlet__body  ">





                        <div class="form-group form-group row">
                            <div class="form-group col-md-3">
                                <label>Order To</label>

                                <select class="form-control" id="exampleSelect1">
                                    <option></option>
                                    <option>Internal</option>
                                    <option>External</option>
                                </select>

                            </div>
                            <div class="col-md-3">
                                <label>Start Test By Date</label>
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>

                        </div>
                        <div class="form-group form-group row">
                            <div class="form-group col-md-6">
                                <label>Test Name</label>

                                <select class="form-control" id="exampleSelect1">
                                    <option></option>
                                    <option>CBC</option>
                                    <option>17-OH Progesterone  </option>
                                    <option>25-OH Vitamin D3 </option>
                                    <option>3D Hematology (From NIBD)    </option>
                                    <option>3gAllergy Specific IgE Universal Food Allergens </option>
                                    <option>3gAllergy Specific IgE Universal Inhalant Allergens Profile</option>

                                </select>

                            </div>
                            

                        </div>
                        <div class="form-group form-group row">
                            <div class="form-group form-group-last col-6">
                                <label for="exampleTextarea">Instructions</label>
                                <textarea class="form-control" id="exampleTextarea"form-group rows="3"></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group form-group row">
                            <div class="form-group form-group-last col-md-6">
                                <label for="exampleTextarea">Add Test List</label>
                                <textarea class="form-control" id="exampleTextarea" form-group rows="4"></textarea>
                            </div>
                        </div>
                       
                     
                    <div class="kt-form__actions">
                        <div class="form-group row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-success">Add</button>
                                <button type="reset" class="btn btn-danger">Clear</button>
                            </div>
                        </div>
                    </div>
                          </div>
                   
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>

    </div>
</div>



