


<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
        <div class="col-md-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <b>Add New Medicine </b>

                        </h3>
                    </div>
                </div>




                <!--begin::Form-->
                <form class="kt-form">
                    <div class="kt-portlet__body  ">





                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Medicine Name</label>
                                <input type="text" class="form-control">

                            </div>

                            <div class="form-group col-md-4">
                                @*<label for="exampleSelect1">Order Type</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option></option>
                                        <option>Medicine</option>
                                        <option>Labs</option>
                                        <option>Treatment</option>
                                        <option>Diet</option>
                                        <option>Exercise</option>
                                        <option>Follow Ups</option>
                                        <option>Referrals</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="exampleSelect2">Select Medicine</label>
                                <select class="form-control" id="exampleSelect2">
                                    <option></option>
                                    <option>Capsules</option>
                                    <option>Drops</option>
                                    <option>Injections</option>
                                    <option>Inhalers</option>
                                </select>

                            </div>
                            <div class="form-group col-md-4">
                                <label for="exampleSelect2">Select Dosage</label>
                                <select class="form-control" id="exampleSelect2">
                                    <option></option>
                                    <option>5mg</option>
                                    <option>10mg</option>
                                    <option>15mg</option>
                                    <option>20mg</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="exampleSelect2">Select Route</label>
                                <select class="form-control" id="exampleSelect2">
                                    <option></option>
                                    <option>Oral</option>
                                    <option>Injection</option>
                                    <option>Iv</option>

                                </select>

                            </div>
                            <div class="form-group col-md-2">
                                <label for="exampleSelect2">Set Routine</label>
                                <input class="form-control" type="time" value="" id="example-time-input">

                            </div>
                            <div class="form-group col-md-2">
                                <label for="exampleSelect2">Days</label>
                                <select class="form-control" id="exampleSelect2">
                                    <option></option>
                                    <option>1Day</option>
                                    <option>2Day</option>
                                    <option>3Day</option>
                                    <option>4Day</option>
                                    <option>5Day</option>
                                    <option>6Day</option>
                                    <option>7Day</option>
                                    <option>1week</option>
                                    <option>2week</option>
                                </select>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <label>Start Date</label>
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                            <div class="col-4">
                                <label>End Date</label>
                                <input class="form-control" type="date" id="example-date-input">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-last col-4">
                                <label for="exampleTextarea">Instructions</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill kt-badge--rounded"><b>Add +</b></span>

                                <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded"><b>Clear</b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-last col-4">
                                <label for="exampleTextarea">Add Medicine List</label>
                                <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-3">
                                    </div>
                                    <div class="col-9">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="reset" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>

    </div>
</div>



