


<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="form-group row">
        <div class="col-md-12">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            <b>Add Other Order </b>

                        </h3>
                    </div>
                </div>




                <!--begin::Form-->
                <form class="kt-form">
                    <div class="kt-portlet__body  ">

                        <div class="form-group row">
                            <div class="form-group col-md-4">
                                <label>Order Title</label>
                                <input type="text" class="form-control">

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="form-group form-group-last col-md-4">
                                <label for="exampleTextarea">Order Descriptions</label>
                                <textarea class="form-control" id="exampleTextarea" form-group rows="3"></textarea>
                            </div>

                        </div>
                      

                        <div class="form-group row">
                            <div class="form-group form-group-last col-md-4">
                                <label for="exampleTextarea">Other Orders</label>
                                <textarea class="form-control" id="exampleTextarea" form-group rows="4"></textarea>
                            </div>
                        </div>

                       
                        <div class="kt-form__actions">
                            <div class="form-group row">
                               
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-success">Add</button>
                                    <button type="reset" class="btn btn-danger">Clear</button>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </form>

                <!--end::Form-->
            </div>

            <!--end::Portlet-->

        </div>

    </div>
</div>



