   <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                
                    
                <h3 class="kt-portlet__head-title" style="color:white">
                    @*<span><img src="~/Content/assets/media/med360/Drug.png" class="mr-3" style="width: 30px;"></span>*@
                    Add Diet Order
                </h3>

</div>
        </div>

        


        <!--begin::Form-->
        <form class="kt-form">
            <div class="kt-portlet__body  ">

                <div class="form-group row">

                    <div class="form-group col-md-6">
                        <label>Select Diet Plan</label>

                        <select class="form-control" id="exampleSelect1">
                            <option></option>
                            <option>Diabetic Diet Medium Calories</option>
                            <option>High Protine</option>
                            <option>Pregnancy Diet</option>
                            <option>Heart</option>

                        </select>

                    </div>
                    <div class="form-group col-md-6">
                        <label>Diet Plan Name</label>
                        <input type="text" class="form-control">

                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label>Descriptions</label>
                        <textarea class="form-control col-md-12" id="exampleTextarea" form-group rows="2"></textarea>

                    </div>

                </div>
                <div class="form-group row">

                    <div class="col-md-6">
                        <label>Start Date</label>
                        <input class="form-control" type="date" value="" id="example-datetime-local-input">
                    </div>
                    <div class="col-md-6">
                        <label>End Date</label>
                        <input class="form-control" type="date" value="" id="example-datetime-local-input">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-md-12">
                        <label for="exampleTextarea">Instructions</label>
                        <textarea class="form-control col-md-12" id="exampleTextarea" form-group rows="3"></textarea>
                    </div>
                </div>





            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">

                    <div class="form-group row">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5 kt-align-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                            <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Portlet-->

    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Added Diet Plan List
                </h3>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div class="col-lg-10">
                <table class="table  table-bordered table-hover" id="kt_table_2">

                    <tbody>

                        <tr>
                            <td>High Protein</td>

                        </tr>
                        <tr>
                            <td>High Carb - High Calorie</td>

                        </tr>
                        <tr>
                            <td>Diabetic Diet - Medium Calorie</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5 kt-align-right">

                        <button type="button" class="btn btn-info"><i class="fa fa-file-signature"></i>Sign</button>
                        <button type="button" class="btn btn-info"><i class="fa fa-signature"></i>Co-sign</button>

                    </div>

                </div>
            </div>
        </div>

    </div>



