<div class="col-md-12">

    <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                
                <div class="kt-portlet__head-label">

                    <h3 class="kt-portlet__head-title" style="color:white">
                        @*<span> <img src="~/Content/assets/media/med360/Appointment.png" class="mr-3" style="width: 30px;"></span>*@
                        Add Follow Up Visit
                    </h3>
                </div>
            </div>
        </div>




        <!--begin::Form-->
        <form class="kt-form">
            <div class="kt-portlet__body  ">

                <div class="form-group row">
                    <div class="form-group col-md-6">
                        <label>Select Intervel Type</label>

                        <select class="form-control" id="exampleSelect1">
                            <option></option>
                            <option>Month</option>
                            <option>Day</option>
                            <option>Week</option>

                        </select>
                    </div>



                </div>

                <div class="form-group row">

                    <div class="col-md-4">
                        <label for="exampleSelect2">Set Interval Months:</label>
                        <input class="form-control" type="number" value="" id="example-number-input" placeholder="Month">
                    </div>
                    <div class="col-md-4">

                        <label for="exampleSelect2">Weeks:</label>
                        <input class="form-control" type="number" value="" id="example-number-input" placeholder="Weeks">

                    </div>
                    <div class="col-md-4">

                        <label for="exampleSelect2">Days:</label>
                        <input class="form-control" type="number" value="" id="example-number-input" placeholder="Days">

                    </div>


                </div>

                <div class="form-group row">

                    <div class="form-group form-group-last col-md-12">
                        <label for="exampleTextarea">Instructions</label>
                        <textarea class="form-control col-md-12" id="exampleTextarea" form-group rows="2"></textarea>
                    </div>


                </div>





            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">

                    <div class="form-group row">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5 kt-align-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                            <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Portlet-->

</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                All Appointments
            </h3>
        </div>

    </div>
    <div class="kt-portlet__body">
        <div class="col-lg-10">
            <table class="table  table-bordered table-hover" id="kt_table_2">

                <tbody>

                    <tr>
                        <td>25-06-2020 (FollowUp)</td>

                    </tr>
                    <tr>
                        <td>30-04-2020 (Consultation)</td>

                    </tr>
                    <tr>
                        <td>05-03-2020 (Referral)</td>

                    </tr>

                </tbody>
            </table>
        </div>

    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5 kt-align-right">

                    <button type="button" class="btn btn-info"><i class="fas fa-file-signature"></i>Sign</button>
                    <button type="button" class="btn btn-info"><i class="fas fa-signature"></i>Co-sign</button>

                </div>

            </div>
        </div>
    </div>

</div>