<div class="col-md-12">

    <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
               
                <h3 class="kt-portlet__head-title" style="color:white">
                    @*<span><img src="~/Content/assets/media/med360/List.png" class="mr-3" style="width: 30px;"></span>*@
                    Add Other Order
                </h3>
            </div>
        </div>
    </div>




        <!--begin::Form-->
    <form class="kt-form">
        <div class="kt-portlet__body  ">

            <div class="form-group row">
                <div class="form-group col-md-12">
                    <label>Order Title</label>
                    <input type="text" class="form-control col-md-12">

                </div>
            </div>

            <div class="form-group row">
                <div class="form-group form-group-last col-md-12">
                    <label for="exampleTextarea">Order Description</label>
                    <textarea class="form-control col-md-12" id="exampleTextarea" form-group rows="3"></textarea>
                </div>

            </div>






        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">

                <div class="form-group row">
                    <div class="col-md-7">
                    </div>
                    <div class="col-md-5 kt-align-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                        <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <!--end::Form-->
    </div>

    <!--end::Portlet-->


<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" style="color:white">
                @*<span><img src="~/Content/assets/media/med360/List.png" class="mr-3" style="width: 30px;"></span>*@ 
                Other Order
            </h3>

        </div>

    </div>
    <div class="kt-portlet__body">
        <div class="col-lg-10">
            <table class="table  table-bordered table-hover" id="kt_table_2">

                <tbody>

                    <tr>
                        <td>Referred to Dr Shakaib Rheumatology Clinic for Knee Pain</td>

                    </tr>
                    <tr>
                        <td>Avoid Oily Food</td>

                    </tr>


                </tbody>
            </table>
        </div>

    </div>
    <div class="kt-portlet__foot">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5 kt-align-right">

                    <button type="button" class="btn btn-info"><i class="fa fa-file-signature"></i>Sign</button>
                    <button type="button" class="btn btn-info"><i class="fa fa-signature"></i>Co-sign</button>

                </div>

            </div>
        </div>
    </div>

</div>