
<script type="text/javascript">


    $('#EnteredDate').datepicker({
        todayHighlight: true,
        autoclose: true,
        format: 'dd/mm/yyyy'
    });


</script>
<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Create Tenant</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    
        
        <input type="text" id="TenantId" hidden name="tenantid" class="form-control form-control-sm" />
  
    <div class="form-group  form-group-sm">
        <label for="Description">Description</label>
        <input type="text" id="Description" name="description" class="form-control form-control-sm" />
    </div>
    <div class="form-group  form-group-sm">
        <label for="Code">Code</label>
        <input type="text" id="Code" name="code" class="form-control form-control-sm" />
    </div>
    <div class="form-group  form-group-sm">
        <label for="SubscriptionType">Contact Person</label>
        <input type="text" id="Contact_Person" name="contact_Person" class="form-control form-control-sm" />
    </div>
    <div class="form-group  form-group-sm">
        <label for="SubscriptionEnd">Contact</label>
        <input type="text" id="Contact" name="contact" class="form-control form-control-sm" />
    </div>
    @*<div class="form-group  form-group-sm">
        <label for="SubscriptionEnd">Address</label>
        <input type="text" id="Address" name="Address" class="form-control form-control-sm" />
    </div>*@
    @*<div class="form-group  form-group-sm">
        <label for="SubscriptionType">Entered Date</label>
        <input type="text" id="EnteredDate" name="EnteredDate" class="form-control form-control-sm" />
    </div>
    <div class="form-group  form-group-sm">
        <label for="SubscriptionEnd">Entered By</label>
        <input type="text" id="EnteredBy" name="EnteredBy" class="form-control form-control-sm" />
    </div>*@
    <div class="form-group  form-group-sm">
        <label class="kt-checkbox">
            <input type="checkbox" id="chkActive"> Status
            <span></span>
        </label>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button"  id="SaveChanges" onclick="Add();" class="btn btn-info">Save</button>
    <button type="button"  id="Update" onclick="Update();" class="btn btn-info">Update</button>
    <button type="button"  id="Delete" onclick="Delete();" class="btn btn-info">Delete</button>
</div>
