
<script src="~/Content/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Modal -->

<div class="modal-header">
    <h3 class="modal-title" id="exampleModalLabel"><i class="fas fa-file-signature mr-3"></i>Signature</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <label class="col-form-label col-md-2">Signature</label>
    <div class="col-md-12">
        <textarea class="form-control"  form-group rows="2"></textarea>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
    <button type="button" class="btn btn-info"><i class="fa fa-save"></i>Save</button>

</div>




