
@{
    ViewBag.PageName = "OPD Invoice";
}
<!-- start:: Content Head -->
<div class="kt-subheader   kt-grid__item row" id="kt_subheader">
    <div class="kt-subheader__main col-9">
        <h5 class="modal-title" id="exampleModalLabel"><span><img src="~/Content/assets/media/med360/patient.png" class="mr-3" style="width: 30px;"></span>Patient Portal</h5>
        @*<h3 class="kt-subheader__title col-3">25 Yrs</h3>
        <h3 class="kt-subheader__title col-5">Mr No: 12345</h3>*@
    </div>
    <div class="kt-subheader__toolbar col-3">
        @*<button type="button" class="btn btn-brand btn-elevate btn-icon-sm" id="AddNew" data-toggle="modal" data-target="#myModal">Request Education<i class="la la-plus"></i></button>*@
    </div>
</div>
<!-- end:: Content Head -->
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
            <form class="kt-form" style="height: 62rem; overflow:auto">
                <div class="kt-portlet__body">
                    <div class="form-group">
                        @*<div class="kt-portlet__head kt-portlet__head--lg " style="margin-top:-2%" >
                            <div class="kt-portlet__head-label">
                                <div class="kt-portlet__head-actions">
                                    Chemothrapy Info: 02-03-02020 15:30
                                </div>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-outline-hover-danger btn-sm btn-icon btn-circle"><i class="la la-floppy-o"></i></button>
                                        <button type="button" class="btn btn-outline-hover-danger btn-sm btn-icon btn-circle"><i class="la la-close"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <img src="~/image/BillingInvoice.png" />

                    </div> @*<div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>*@

                </div>
            </form>
        </div>
        <!--end::Portlet-->
        <!-- --------Start Modal-------- -->
        <!-- --------End Modal-------- -->

    </div>
</div>

<!-- end:: Content -->
